[submodule "workspace/src/ros2_control_edgebotic_amr"]
	path = workspace/src/ros2_control_edgebotic_amr
	url = git@github.com:bshibley/ros2_control_edgebotic_amr.git
[submodule "workspace/src/edgebotic_amr"]
	path = workspace/src/edgebotic_amr
	url = git@github.com:bshibley/edgebotic_amr.git
[submodule "workspace/src/serial-ros2"]
	path = workspace/src/serial-ros2
	url = https://github.com/bshibley/serial-ros2.git
[submodule "workspace/src/adxl345_imu_broadcaster"]
	path = workspace/src/adxl345_imu_broadcaster
	url = https://github.com/bshibley/adxl345_imu_broadcaster.git
